<ul>
  <li class='title'><%= question.text %></li>
  <!-- this was old -->
 <!-- <li><%= question.answer_one %></li>
  <li><%= question.answer_two %></li>
  <li><%= question.answer_three %></li>
  <li><%= question.answer_four %></li> -->
</ul>
