<div class="answers">
  <h1><%= @question.text %></h1>
  <% @answers.each_with_index do |answer, i| %>
    <ul>
      <li class='title'><%= answer.title %></li>
        <% if @amount != 0 %>
          <li>Picked <%= answer.given_answers.count %> times | <%= (answer.given_answers.count / @amount) * 100 %>%</li>
        <% else %>
          <li>Picked <%= answer.given_answers.count %> times | 0%</li>
        <% end %>
        <li class='images'>
        <div class='image'>
          <%= image_tag answer.picture %>
        </div>
      </li>
    </ul>
  <% end %>
  <%= link_to "See all questions", admin_questions_path %>
</div>
