<!DOCTYPE html>
<html>
  <head>
    <title>Playwall</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Ubuntu:300,500,700" rel="stylesheet">
  </head>

  <body>
    <ul class="topnav" id="myTopnav">
      <img src="http://i.imgur.com/6kEUp9U.png" width="250" height="70"></img>
      <li><%= link_to "Surveys", admin_surveys_path %></li>
      <li><%= link_to "Questions", admin_questions_path %></li>
    </ul>
    <%= yield %>
  </body>
</html>
